{% extends "base.html" %}

{% block title %}Create Candidacy{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold m-5 text-white">
    Création d'une candidature
</h1>
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <div class="mt-6">
            <form action="/create_candidacy" method="post" enctype="multipart/form-data" autocomplete="on" class="space-y-6">
                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="status"
                        placeholder="Status (à changer)" 
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="cover_letter_url"
                        placeholder="Lettre de motivation" 
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="resume_url"
                        placeholder="CV" 
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="custom_field"
                        placeholder="Description" 
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div>
                    <button type="submit"
                        class="w-full mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm">
                        Créer la candidature
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}