{% extends "base.html" %}

{% block title %}Postuler{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold m-5 text-white">
    Postuler à une offre
</h1>
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <h2 class="text-2xl font-bold">
            Informations Générales
        </h2>
        <div class="mt-6">
            <form action="/create_candidacy/{{ uuid_offer }}" method="post" enctype="multipart/form-data"
                autocomplete="on" class="space-y-6">
                <div>
                    <div>
                        <label for="resume_url">
                            <p class="italic">Votre CV</p>
                        </label>
                    </div>
                    <input type="file" id="resume_url" name="resume_url" accept=".pdf" class="mt-3" required>
                </div>

                <div>
                    <div>
                        <label for="cover_letter_url">
                            <p class="italic">Votre lettre de motivation</p>
                        </label>
                    </div>
                    <input type="file" id="cover_letter_url" name="cover_letter_url" accept=".pdf" class="mt-3"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <textarea name="custom_field" placeholder="Message supplémentaire à adresser à l'entreprise"
                        maxlength="1000"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required></textarea>
                </div>

                <h2 class="text-2xl font-bold">
                    Questionnaire de l'entreprise
                </h2>

                <!-- Questionnaire -->
                <div class="col-span-6 rounded-lg bg-white p-8 shadow">
                    {% match questionnaire %}
                    {% when Some(q) %}
                    <h2 class="text-2xl font-bold">
                        {{ q.name }}
                    </h2>
                    <div class="space-y-4 mt-2">
                        {% for question in q.questions %}
                        <div>
                            <div class="text-lg font-semibold">{{ question.question }}</div>
                            <div class="flex flex-col space-y-2 mt-2">
                                {% for answer in question.answers %}
                                <div>
                                    <input type="checkbox"
                                        name="questionnaire;{{ q.uuid }};{{ question.uuid }};{{ answer.uuid }}"
                                        value="selected">
                                    <label> {{ answer.answer }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% when None %}
                    <div>
                        Aucun questionnaire associé à cette offre.
                    </div>
                    {% endmatch %}
                </div>

                <div class="flex justify-center items-center">
                    <button type="submit"
                        class="w-64 mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm">
                        Postuler
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}