{% extends "base.html" %}

{% block title %}Créer une offre{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold m-5 text-white">
    Création d'une offre
</h1>
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <h2 class="text-2xl font-bold">
            Informations Générales
        </h2>
        <div class="mt-6">
            <form action="/create_offer" method="post" enctype="multipart/form-data" autocomplete="on"
                class="space-y-6">
                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="title" placeholder="Titre de l'offre"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <textarea name="description" placeholder="Description" maxlength="1000"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required></textarea>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="skills" placeholder="Compétences nécessaires (séparer par une virgule)"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="location" placeholder="Localisation"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="number" name="salary" placeholder="Salaire annuel"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="job_duration" placeholder="Durée du contrat"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="job_start" placeholder="Début de l'offre d'emploi"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <h2 class="text-2xl font-bold">
                    Questionnaire associé
                </h2>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <select name="questionnaire"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500">
                        <option value="0">Aucun questionnaire</option>
                        {% match questionnaires %}
                        {% when Some(q) %}
                        {% for mcq in q %}
                        <option value="{{ mcq.uuid }}">{{ mcq.name }}</option>
                        {% endfor %}
                        {% when None %}
                        {% endmatch %}
                    </select>
                </div>

                <div class="flex justify-center items-center">
                    <a href="/view_offer">
                        <button type="submit"
                            class="w-64 mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm">
                            Créer l'offre
                        </button>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}