{% extends "base.html" %}

{% block title %}Créer une offre{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold m-5 text-white">
    Création d'une offre
</h1>
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <div class="mt-6">
            <form action="/create_offer" method="post" enctype="multipart/form-data" autocomplete="on"
                class="space-y-6">
                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="title" placeholder="Title of the offer"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="description" placeholder="Une description de l'offre"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="skills"
                        placeholder="Les skills nécesseraire pour l'offre (séparer par une virgule)"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="location" placeholder="Où l'offre se localisera"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="salary" placeholder="Combien sera le salaire (entier)"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="job_duration" placeholder="Durée de l'offre"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div class="relative mt-1 rounded-md shadow-sm">
                    <input type="text" name="job_start" placeholder="Quand l'offre débutera"
                        class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
                        required>
                </div>

                <div>
                    <a href="/view_offer">
                        <button type="submit"
                            class="w-full mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm">
                            Créer l'offre
                        </button>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}