{% extends "base.html" %}

{% block title %} Offres {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold m-5 text-white">
    Offres
</h1>
<ul class="flex flex-col space-y-4">
    {% match offers %}
    {% when Some with (val) %}
    {% for offer in val %}
        {% include "offers/offer.html" %}
    {% endfor %}
    {% when None %}
    <li class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
        <div class="px-4 py-8 sm:px-10">
            <div class="mt-6">
                <h4> 
                    No offers found
                </h4>
            </div>
        </div>
    </li>
    {% endmatch %}
</ul>
{% endblock %}