{% extends "base.html" %}

{% block title %}
{% match offer %}
{% when Some with (val) %}
{{ val.title }}
{% when None %}
Offre introuvable
{% endmatch %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
{% match offer %}
{% when Some with (val) %}
<h1 class="text-3xl font-bold m-5 text-white">
    {{ val.title }}
</h1>
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <div class="mt-6">

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.title }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.description }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.created_at }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.salary }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.salary }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                {% for skill in val.skills %}
                <p>{{ skill }} </p>
                {% endfor %}
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.location }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.job_duration }}</p>
            </div>

            <div class="relative mt-1 rounded-md shadow-sm">
                <p>{{ val.job_start }}</p>
            </div>
            {% match auth_user %}
            {% when Some(user) %}
            {% if user.user_role == "candidate" %}
            <button onclick="location.href='/create_candidacy/{{ val.uuid }}'"
                class="w-full mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm">
                Candidater à l'offre
            </button>
            {% endif %}
            {% if user.user_role == "company" %}
            <button onclick="location.href='/candidacies_by_offer/{{ val.uuid }}'"
                class="w-full mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm">
                Voir les candidatures
            </button>
            {% endif %}
            {% when None %}
            {% endmatch %}
        </div>
    </div>
</div>
{% when None %}
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <div class="mt-6">
            <p>
                Offer not found
            </p>
        </div>
    </div>
</div>
{% endmatch %}
{% endblock %}