{% extends "base.html" %}

{% block title %}
{% match offer_with_company %}
{% when Some with (val) %}
{{ val.0.title }}
{% when None %}
Offre introuvable
{% endmatch %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
{% match offer_with_company %}
{% when Some with (val) %}
<h1 class="text-3xl font-bold m-5 text-white">
    {{ val.0.title }}
</h1>

<div class="grid grid-cols-6 gap-4">
    <!-- Offer title and description -->
    <div class="col-span-4 rounded-lg bg-white p-8 shadow">
        <div class="text-2xl font-semibold text-indigo-700">{{ val.0.title }}</div>
        <div class="my-3">{{ val.0.description }}</div>
    </div>

    <!-- Offer fields -->
    <div class="col-span-2">
        <div class="rounded-lg bg-white p-8 shadow">
            <div class="text-2xl font-semibold text-indigo-700">Informations</div>

            <div class="mt-4 space-y-2">
                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Calendar Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                    </svg>
                    <div class="font-medium">Date de création</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.0.created_at }}</div>
                </div>

                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Buidling office icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                    </svg>
                    <div class="font-medium">Entreprise</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.1.name }}</div>
                </div>

                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Envelope -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                    </svg>
                    <div class="font-medium">Contact</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.1.email }}</div>
                </div>

                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Home Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                    <div class="font-medium">Lieu</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.0.location }}</div>
                </div>

                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Banknotes -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>
                    <div class="font-medium">Salaire</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.0.salary }} €</div>
                </div>

                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Flag Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5" />
                    </svg>
                    <div class="font-medium">Début</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.0.job_start }}</div>
                </div>

                <div class="mt-0.5 flex items-center text-gray-800">
                    <!-- Pencil Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="mr-1 h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>
                    <div class="font-medium">Durée</div>
                    <div class="flex-1 text-end text-gray-600">{{ val.0.job_duration }}</div>
                </div>
            </div>
            <div class="mt-4 flex flex-wrap gap-2">
                {% for skill in val.0.skills %}
                <div class="rounded-2xl border border-gray-400 px-2 py-0.5 text-gray-500">
                    {{ skill }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% match auth_user %}
        {% when Some(user) %}
        {% if user.user_role == "candidate" %}
        <button onclick="location.href='/create_candidacy/{{ val.0.uuid }}'"
            class="w-full mt-4 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-6 py-3 text-xl">
            Candidater
        </button>
        {% endif %}
        {% if user.user_role == "company" %}
        <button onclick="location.href='/candidacies_by_offer/{{ val.0.uuid }}'"
            class="w-full mt-4 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-6 py-3 text-xl">
            Voir les candidatures
        </button>
        {% endif %}
        {% when None %}
        {% endmatch %}
    </div>

    <!-- Questionnaire -->
    <div class="col-span-6 rounded-lg bg-white p-8 shadow">
        {% match questionnaire %}
        {% when Some(q) %}
        <h2 class="text-2xl font-bold">
            {{ q.name }}
        </h2>
        <div class="space-y-4 mt-2">
            {% for question in q.questions %}
            <div>
                <div class="text-lg font-semibold">{{ question.question }}</div>
                <div class="flex space-x-2 mt-2">
                    {% for answer in question.answers %}
                    <div class="font-semibold rounded-lg border border-gray-400 hover:bg-gray-100 px-2 py-1">{{
                        answer.answer }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% when None %}
        <div>
            Aucun questionnaire associé à cette offre.
        </div>
        {% endmatch %}
    </div>
</div>


{% when None %}
<div class="col-span-5 rounded-lg bg-white shadow lg:col-span-2">
    <div class="px-4 py-8 sm:px-10">
        <div class="mt-6">
            <p>
                Offre non trouvée.
            </p>
        </div>
    </div>
</div>
{% endmatch %}
{% endblock %}