{% extends "base.html" %}
{% block title %}Infos Utilisateur{% endblock %}

{% block head %}
<script>
  function addQuestion() {
    var formElm = document.getElementById("questions");
    var questionDiv = document.createElement("div");
    var questionId = formElm.childElementCount
    questionDiv.id = "question-" + questionId;
    questionDiv.className = "space-y-2";
    formElm.appendChild(questionDiv);

    var questionInputDiv = document.createElement("div");
    questionInputDiv.className = "flex space-x-2";
    questionDiv.appendChild(questionInputDiv);

    // Question input
    var questionInput = document.createElement("input");
    questionInput.type = "text";
    questionInput.id = "question-" + questionId;
    questionInput.name = "question-" + questionId;
    questionInput.placeholder = "Question";
    questionInput.className =
      "block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500";
    questionInput.required = true;
    questionInputDiv.appendChild(questionInput);

    let answerIndex = 0;

    // Add option button
    var addOptionButton = document.createElement("button");
    addOptionButton.type = "button";
    addOptionButton.className =
      "w-64 inline-flex justify-center items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500";
    addOptionButton.innerHTML = "Ajouter une option";
    addOptionButton.onclick = () => {
      var answerDiv = document.createElement("div");
      answerDiv.className = "flex space-x-2 items-center";

      var answerInput = document.createElement("input");
      answerInput.setAttribute("type", "text");
      answerInput.setAttribute("id", "answer-" + questionId + "-" + answerIndex);
      answerInput.setAttribute("name", "answer-" + questionId + "-" + answerIndex);
      answerInput.setAttribute("placeholder", "Option");
      answerInput.setAttribute("class", "block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500");
      answerInput.required = true;
      answerDiv.appendChild(answerInput);

      var answerCheckbox = document.createElement("input");
      answerCheckbox.setAttribute("type", "checkbox");
      answerCheckbox.setAttribute("id", "validity-" + questionId + "-" + answerIndex);
      answerCheckbox.setAttribute("name", "validity-" + questionId + "-" + answerIndex);
      answerCheckbox.setAttribute("class", "ml-2");
      answerDiv.appendChild(answerCheckbox);
      
      answerIndex++;
      questionDiv.appendChild(answerDiv);
    };
    questionInputDiv.appendChild(addOptionButton);
  }
</script>
{% endblock %}

{% block content %}
<div class="relative">
  <h1 class="text-3xl font-bold m-5 text-white">Créer un questionnaire</h1>
</div>

<!-- Form to create a questionnaire -->
<div class="flex justify-center">
  <div class="w-full rounded-lg bg-white shadow lg:w-1/2">
    <div class="px-4 py-8 sm:px-10">
      <form
        name="add-questionnaire"
        action="/questionnaires"
        method="post"
        enctype="multipart/form-data"
        autocomplete="on"
        class="space-y-12"
      >
        <div class="relative mt-1 rounded-md shadow-sm">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Nom du questionnaire"
            class="block bg-white w-full rounded-md shadow-sm sm:text-sm border-gray-300 text-black focus:border-blue-500 focus:ring-blue-500"
            required
          />
        </div>

        <div id="questions" class="space-y-4"></div>

        <div>
          <div class="flex justify-end space-x-1">
            <button
            type="button"
              class="mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-green-600 text-white hover:bg-green-700 focus:ring-green-500 px-4 py-2 text-sm"
              onclick="addQuestion()"
              >
              Ajouter une question
            </button>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="w-full mt-5 inline-flex items-center justify-center rounded border font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500 px-4 py-2 text-sm"
          >
            Créer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
