{% extends "base.html" %}

{% block title %}Infos Utilisateur{% endblock %}

{% block head %}
<script>
    function deleteQuestionnaire(id) {
        fetch("/questionnaires/" + id,  {
            method: "DELETE"
        })
        .then(response =>    window.location.reload()  )
    }
</script>
{% endblock %}

{% block content %}
<div class="relative">
    <h1 class="text-3xl font-bold m-5 text-white">
        Questionnaires
    </h1>
    <button class="border border-gray-300  bg-indigo-700 hover:bg-indigo-500 rounded px-4 py-2 text-white absolute right-6 top-0">
        <a href="/questionnaires/create">Créer un questionnaire</a>
    </button>
</div>

<div class="space-y-4">
    {% for questionnaire in questionnaires %}
    <div class="w-full shadow-lg bg-white rounded-md p-8">
        <div class="flex space-x-2">
            <h2 class="text-2xl font-bold">{{ questionnaire.name }}</h2>
            <button class="text-red-600 hover:text-white hover:bg-red-600 flex rounded-full font-semibold items-center px-2 space-x-0.5 text-sm" onclick="deleteQuestionnaire('{{ questionnaire.uuid }}')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
                <span>
                    Détruire en mille morceaux
                </span>
            </button>
        </div>
        <details class="mt-4">
            <summary>Réponses</summary>
            <div class="space-y-4 mt-2">
                {% for question in questionnaire.questions %}
                <div>
                    <div class="text-lg font-semibold">{{ question.question }}</div>
                    <div class="flex space-x-2 mt-2">
                        {% for answer in question.answers %}
                            {% if answer.is_valid %}
                                <div class="font-semibold rounded-lg bg-green-600 text-white px-2 py-1">{{ answer.answer }}</div>
                            {% else %}
                                <div class="font-semibold rounded-lg bg-red-600 text-white px-2 py-1">{{ answer.answer }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </details>
    </div>
    {% endfor %}
</div>


{% endblock %}